.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row>* {
    padding-left: 15px;
    padding-right: 15px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    /* max-width: 1920px; */
}

.btn {
    padding: 10px 25px;
    border-radius: 5px;
    overflow: hidden;
}

.btn:focus {
    box-shadow: none;
}

.modal-backdrop {
    z-index: 1040;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-primary {
    padding: 9px 15px;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: none !important;
}


/* @media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px;
    }
} */

@media (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px;
    }
}

@media (max-width: 991.98px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%;
        width: 100%;
    }
}